In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
data = pd.read_csv('/Users/carlbro/Documents/GitHub/ML2-Final-Project-Detecting-regime-features-using-macroeconomic-factors/Macro Data Raw.csv').set_index('observation_date')
data

,CPI,Core CPI,Unemployment Rate,Fed Fund Rate,BAA,AAA
observation_date,,,,,,
1/1/86,109.900,111.900,6.7,8.09,100.00000,82.87614
2/1/86,109.700,112.200,7.2,7.95,93.40369,75.89360
3/1/86,109.100,112.500,7.2,8.06,90.67722,72.56858
4/1/86,108.700,112.900,7.1,7.05,89.35796,74.31421
5/1/86,109.000,113.100,7.2,6.84,91.55673,76.80798
...,...,...,...,...,...,...
10/1/25,324.245,330.418,4.4,3.86,51.01143,43.39152
11/1/25,325.063,331.043,4.5,3.89,51.01143,43.05902
12/1/25,326.031,331.814,4.4,3.64,51.89094,44.47215
1/1/26,326.588,332.793,4.3,3.64,51.71504,44.72153
NaN,NaN,NaN,NaN,NaN,NaN,NaN